<app-modal #sharedModal></app-modal>

<form class="p-2 flex flex-col h-full" [formGroup]="form">
  @if (validationResult) {
  <app-msg-banner [type]="validationResult.isValid ? types.info : types.error" (onDismiss)="onBannerDissmissCallback()">
    <div class="max-h-48 overflow-y-auto custom-scrollbar">
      @if(validationResult.isValid) {
      <p>Booking is valid</p>
      } @else {
      <p>{{ validationResult.message }}</p>
      <ul>
        @for (error of validationResult.errors; let i = $index; track i) { @if (!error.propertyName.startsWith("#")) {
        <li>{{ error.message }}</li>
        } }
      </ul>
      }
    </div>
  </app-msg-banner>
  }

  <section class="flex flex-col border rounded-sm p-2 mb-2">
    <section class="flex items-center mb-2">
      <h5 class="">Current booking: {{ booking.bookingId }} [{{ getStatusName() }}]</h5>
      <div class="flex-auto"></div>
      <span class="text-sm"
        >Last updated: {{ updatedDate | date : "yyyy-MM-dd HH:mm:ss" }}
        <i class="block overflow-hidden overflow-ellipsis max-w-48">{{ updatedBy }}</i></span
      >
    </section>
    <section class="mb-2">
      <app-e1-booking-header [form]="header" />
    </section>
    <section class="mb-2 text-sm">
      <span (click)="toggle('history')" class="text-blue-600 cursor-pointer me-4">
        <fa-icon [icon]="toggleStates.history.icon" class="me-1" /> Status history
      </span>
      <span (click)="toggle('comments')" class="text-blue-600 cursor-pointer me-4">
        <fa-icon [icon]="toggleStates.comments.icon" class="me-1" />
        Comments
      </span>
      <span (click)="toggle('recipients')" class="text-blue-600 cursor-pointer me-4">
        <fa-icon [icon]="toggleStates.recipients.icon" class="me-1" />
        Recipients
      </span>
    </section>
    <div class="flex items-start flex-wrap">
      @if (toggleStates.history.value) {
      <section class="h-48 overflow-y-auto mt-4 me-2">
        <app-e1-status-history [statuses]="statusHistory" />
      </section>
      } @if (toggleStates.comments.value) {
      <section class="mt-4 max-2xl:w-96 me-2">
        <app-e1-comments
          [comments]="comments"
          (onCommentEdit)="commentEditCallback($event)"
          (onCommentCreated)="commentCreateCallback($event)"
          (onCommentDeleted)="commentDeleteCallback($event)" />
      </section>
      } @if (toggleStates.recipients.value) {
      <section class="mt-4">Recipients</section>
      }
    </div>
  </section>
  <section class="mb-2 flex-auto border relative rounded-sm">
    <app-e1-booking-row-table
      class="h-full"
      [isNewBooking]="false"
      [rows]="rows"
      [form]="form"
      [validationErrors]="validationResult?.errors" />
  </section>

  <section class="mb-2 p-2 border rounded-sm">
    <section class="flex text-sm">
      <span (click)="toggle('import')" class="text-blue-600 cursor-pointer">
        <fa-icon [icon]="toggleStates.import.icon" class="me-1" />
        Import rows
      </span>
      <div class="flex-auto"></div>
      <a class="text-blue-600" target="_blank" href="http://coa.radix1.ifint.biz/web/coaweb/">Accountplan - top Sweden</a>
    </section>
    @if(toggleStates.import.value) {
    <div class="mt-2"></div>
    }
  </section>

  <section class="mb-2 py-2 flex flex-row items-start">
    <button
      [disabled]="form.invalid || loading"
      type="button"
      (click)="validateBookingClick()"
      class="h-8 text-sm leading-4 border me-2 p-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 disabled:opacity-70">
      {{ form.dirty ? "Save & " : "" }}Validate
    </button>
    <button
      [disabled]="form.invalid || loading || form.pristine"
      type="button"
      (click)="saveBookingClick()"
      class="h-8 text-sm leading-4 border me-2 p-2 bg-gray-600 text-white rounded-md hover:bg-gray-700 disabled:opacity-70">
      Save
    </button>
    <button
      [disabled]="form.invalid || loading || form.pristine"
      type="button"
      class="h-8 text-sm leading-4 border me-2 p-2 bg-gray-600 text-white rounded-md hover:bg-gray-700 disabled:opacity-70">
      Save and close
    </button>
    <button
      [disabled]="loading"
      type="button"
      (click)="reloadClick()"
      class="h-8 text-sm leading-4 border me-2 p-2 bg-gray-600 text-white rounded-md hover:bg-blue-700 disabled:opacity-70">
      Reload booking
    </button>
    <button
      type="button"
      [disabled]="loading"
      class="h-8 text-sm leading-4 border me-2 p-2 bg-red-600 text-white rounded-md hover:bg-red-700">
      Close
    </button>
  </section>
</form>
