# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

dotnet_analyzer_diagnostic.category-roslynator.severity = 'warning'
roslynator_compiler_diagnostic_fixes.enabled = true
roslynator_refactorings.enabled = true