@if(control?.invalid) {
  <div class="text-red-500" >
    @if (control?.errors?.['required']) {
      <ng-content select="[required]" />
    }
    @if (control?.errors?.['maxlength']) {
      <ng-content select="[maxlength]" />
    }
    @if (control?.errors?.['minlength']) {
      <ng-content select="[minlength]" />
    }
    @if (control?.errors?.['pattern']) {
      <ng-content select="[pattern]" />
    }
    @if (control?.errors?.['min']) {
      <ng-content select="[min]" />
    }
    @if (control?.errors?.['max']) {
      <ng-content select="[max]" />
    }
  </div>
}

