<div class="mb-2">
  <label for="comment">Comment:</label>
  <textarea rows="3" [formControl]="form" name="comment" id="comment" class="w-full border border-slate-300 p-2"></textarea>
  @if(form.hasError('required')) {
  <div class="text-red-500 text-end"><small>Comment is required</small></div>
  } @else if(form.hasError('maxlength')) {
  <div class="text-red-500 text-end"><small>Maximum length is 300 chars</small></div>
  }
</div>

<div class="text-end">
  <button
    type="button"
    (click)="onCancel.emit()"
    class="h-8 text-sm leading-4 border p-2 me-2 bg-red-600 text-white rounded-md hover:bg-red-700 disabled:opacity-70">
    Cancel
  </button>
  <button
    [disabled]="form.invalid || form.pristine"
    type="button"
    (click)="onSubmitClick()"
    class="h-8 text-sm leading-4 border p-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 disabled:opacity-70">
    Submit
  </button>
</div>
